<div class="container-fluid">
    <div class="row">
  
      <div class="col-12 p-0">
        <div class="login-card">
          <div>
            <div style="margin-bottom: 20px;" class="text-center">
              </div>
            <div class="login-main">
              <form class="theme-form needs-validation" [formGroup]="InsertForm" (ngSubmit)="onSubmit()">
                <div style="text-align: center">
                  <h4 for="validationCustom01"> تغيير كلمه المرور</h4>
                </div>
                <div class="form-row">
                  <div class="col-12 mb-3">
                    <label class="col-form-label"> <span class="validation-required"></span>كلمه المرور الحاليه
                      <!-- <span style="font-size: 10px; color:brown"> [{{'Required pattern
                        A-a@-0-s'|translate}}]</span> -->
                    </label>
                    <div class="form-input position-relative">
                      <input class="form-control" [type]="changetype ? 'text' : 'password'"
                        formControlName="currentPassword"
                        [tooltip]="fc.currentPassword.errors?.required ? 'this field is required ' : null"
                        [isDisabled]="!((fc.currentPassword.errors && fc.currentPassword.touched) || validated)"
                        containerClass=""
                        [class.is-valid]="fc.currentPassword.valid && (fc.currentPassword.touched || !validated || fc.currentPassword.value)"
                        [class.is-invalid]="fc.currentPassword.invalid && (fc.currentPassword.touched || validated)" />
                      <div class="show-hide" (click)="changetype=!changetype"><span class="show text-primary">          <div *ngIf="changetype;else other_content">
                            <i class="fa fa-eye"></i>
                          </div>
                          <ng-template #other_content><i class="fa fa-eye-slash"></i></ng-template>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <label class="col-form-label"> <span class="validation-required">
                        
                    </span> 
                    كلمه المرور الجديده
                      <!-- <span style="font-size: 10px; color:brown"> [{{'Required pattern
                        A-a@-0-s'|translate}}]</span> -->
                    </label>    <div class="form-input position-relative">
                      <input [type]="typeNewPassword ? 'text' : 'password'" class="form-control"
                        formControlName="newPassword"
                        [tooltip]="fc.newPassword.errors?.required ? 'this field is required ' : ('please provide a strong password'| translate)"
                        [isDisabled]="!((fc.newPassword.errors && fc.newPassword.touched) || validated)" containerClass=""
                        [class.is-valid]="fc.newPassword.valid && (fc.newPassword.touched || !validated || fc.newPassword.value)"
                        [class.is-invalid]="fc.newPassword.invalid && (fc.newPassword.touched || validated)" />
                      <div class="show-hide" (click)="typeNewPassword=!typeNewPassword"><span class="show text-primary">          <div *ngIf="typeNewPassword;else other_content">
                            <i class="fa fa-eye"></i>
                          </div>
                          <ng-template #other_content><i class="fa fa-eye-slash"></i></ng-template>
                        </span>
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div class="text-center">
                  <button class="btn btn-primary" type="submit">تغيير كلمه المرور </button>
                </div>
  
              </form>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>