<!--


image-popup.component.html
<div class="modal-header">
    <h4 class="modal-title">Images for Article {{ articleId }}</h4>
    <div class="modal-body">
        <input type="file" #fileInput>
        <button (click)="uploadImage(fileInput.files[0])">Upload Image</button>
      </div>
    <button type="button" class="close" (click)="activeModal.dismiss()">
    <span>&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-4" *ngFor="let image of images">
    <img [src]="url+image.image" alt="Image" class="img-fluid" />
    </div>
    </div>
    </div> -->
    <div class="modal-header">
        <h4 class="modal-title">Images for Article {{ articleId }}</h4>
        <button type="button" class="close" (click)="activeModal.dismiss()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4" *ngFor="let image of images">
            <img [src]="url+image.image" alt="Image" class="img-fluid" />
            <button type="button" class="btn btn-primary" (click)="saveImage(image.image)">
              Save Image
            </button>
          </div>
        </div>
      </div>