<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" style="padding-bottom: 5px !important">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="pb-2">المقالات</h5>
               
                        </div>

                        <div class="col-6 header-titles">
                            <a routerLink="/content/admin/insert-article" class="d-block">
                                <button class="btn pull-right " type="button">
                                    <span class="m-2"> مقال</span>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-block row">
                    <div class="col-sm-12 col-lg-12 col-xl-12">
                        <div class="table-responsive">
                            <table class="table table-responsive-sm text-center">
                                <thead>
                                    <tr class=" ">
                                        <th scope="col"></th>
                                        <th scope="col">اسم المقال</th>           
                                        <th scope="col">المحتوي</th>    
                                        <!-- <th scope="col">رابط الفيديو</th>      -->
                                        <th scope="col">المشاهدات</th>           
                                        <th scope="col">التفاعلات</th>           
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let view of Article_List;let x = index" class=" ">
                                        <td scope="row" class="p-2">{{x+1}}</td>

                                        <td class="p-2">{{view.titleAr}}</td>
                                        <td class="p-2">{{view.contentAr}}</td>
                                        <!-- <td class="p-2">{{view.video}}</td> -->

                                        <td class="p-2">{{view.views}}</td>
                                        <td class="p-2">{{view.reactions}}</td>

                                         
                                            <button (click)="openImagePopup(view.id)" class="btn btn-primary"> 
                                                <i class="fas fa-images"></i> View Images
                                            </button>
                                            <td class="font-style chose">
                                                <button class="btn pull-right"
                                                    style="color: rgba(35, 118, 241, 0.667); padding: 7px"
                                                    (click)="update(view.id)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                   <button class="btn  pull-right"  style="color: red; padding: 7px"
                                                   (click)="delete(view.id)">
                                                    <i class="fa fa-trash"></i>
                                                       </button>
                                                
                                            
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center w-100">
        <div class='d-flex justify-content-center w-50 py-3'>
          <pagination [boundaryLinks]="true" [totalItems]="totalCount"  [itemsPerPage]="pager.maxResultCount"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" 
           (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
    </div>
</div>



